*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(82, 186, 88);
    display: flex;
    align-items: center;
    justify-content: center;
}

#panel{
    overflow: hidden;
    height: 80%;
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
}

#ptop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: rgb(35, 123, 35);
    padding: 0px 25%;
}

.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}

.elem h2{
    font-weight: 500;
    font-size: 25px;
}

.box{
    background-color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
    color: rgb(35, 123, 35);
}

#pbtm{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    width: 100%;
    height: calc(100% - 100px);
    justify-content: center;
    align-items: center;
}

.bubble{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(48, 166, 48);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.bubble:hover{
    background-color: rgb(27, 81, 27);
    cursor: pointer;
}